html, body {
  height: 100%;
  font-family: sans-serif;
  font-weight: bold;
}
.page {
  min-height: 100%;
  background: url('concertpic2.jpg') no-repeat fixed center;
  background-size: cover;
  box-sizing: border-box;
  padding-bottom: 50px;
}
#youtube {
  display: none;
}
.u-initially-hidden {
  opacity: 0;
}
.spinner-box {
  position: relative;
  top: 160px;
}

/* TOOLBAR */
.toolbar {
  position: fixed;
  top: 0;
  padding: 0 20px;
  background-color: #222;
  color: white;
  box-shadow: 0 0px 20px 5px rgba(0, 0, 0, 0.5);
}
.toolbar-box {
  display: table;
}
.toolbar,
.toolbar-box {
  width: 100%;
  height: 70px;
}
.toolbar input {
  height: 30px;
  border-radius: 15px;
  padding-left: 32px;
  margin: 0;
}
.logostuff,
.phoneNumber {
  display: table-cell;
  vertical-align: middle;
}

/* LOGO AREA */
.logostuff {
  text-align: left;
  padding-left: 12px;
}
.logostuff img {
  height: 50px;
}
.controls {
  text-align: center;
  font-size: 28px;
}
.controls li {
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
     -moz-transition: color 0.5s ease;
       -o-transition: color 0.5s ease;
          transition: color 0.5s ease;
}
.controls li:hover {
  color: red;
}
.phone-number {
  text-align: right;
  color: #fff;
  font-size: 28px;
}

/* Song Search */
.search-field {
  position: relative;
  list-style: none;
  display: inline-block;
}
.search-field .glyphicon {
  left: 31px;
  top: 4px;
  font-size: 16px;
  color: black;
}
.songSuggestions { 
  position: absolute;
  z-index: 10;
  left: 15px;
  min-width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #222;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.4);
}
.songSuggestion {
  color: white;
  cursor: pointer;
}
.songSuggestion {
  background-color: #333;
  border: 2px solid #222;
  padding: 6px 10px;
}
.songSuggestion:not(:last-of-type) {
  border-bottom: 0;
}
.trackTitle {
}
.trackArtist {
  font-weight: normal;
  color: #999;
}
.trackAlbum {
  display: none;
}

/* ADD OWNER AND PHONE NUMBER */
.phoneNumber {
  text-align: right;
}
.theNumber {
  display: inline-block;
  min-width: 200px;
  font-size: 28px;
}
.add-owner {
  display: inline-block;
  position: relative;
  top: -6px;
}
.add-owner input {
  width: 110px;
  text-align: center;
  color: white;
  -webkit-transition: width 0.5s ease;
     -moz-transition: width 0.5s ease;
       -o-transition: width 0.5s ease;
          transition: width 0.5s ease;
  -webkit-transition: color 0.5s ease;
     -moz-transition: color 0.5s ease;
       -o-transition: color 0.5s ease;
          transition: color 0.5s ease;
}
.add-owner .placeholder {
  position: absolute;
  color: #555;
  font-size: 16px;
  top: 3px;
  right: 12px;
  pointer-events: none;
  -webkit-transition: opacity 0.5s ease;
     -moz-transition: opacity 0.5s ease;
       -o-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
}
.add-owner input:focus + .placeholder {
  opacity: 0;
}
.add-owner input:focus {
  width: 200px;
  color: black;
}

/* NOW PLAYING */
.now-playing {
  position: absolute;
  top: 100px;
  text-align: center;
  width: 100%;
  left: 0;
  font-size: 28px;
  text-transform: capitalize;
}
.now-playing-label {
  font-size:16px;
  text-transform: uppercase;
  margin-bottom: -4px;
}

/* PAGE BOX */
.page-box {
  margin-top: 176px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
  min-height: 360px;
}
.page-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Queue */
.queue li {
  height: 60px;
  line-height: 60px;
  font-size: 28px;
}
.queue li:first-child {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.song-clickable {
  padding: 0 20px;
  margin-right: 40px;
}
.queue {
  text-transform: capitalize;
}
.queue li {
  position: relative;
}
.queue .delete {
  position: absolute;
  color: #f66;
  top: 0;
  right: 14px;
  line-height: 60px;
  font-size: 24px;
  opacity: 0;
  cursor: pointer;
}
.queue li:hover .delete {
  opacity: 1;
}
.queue li.selected {
  background-color: blue !important; /* why.. must it be this way :'( */
  color: white;
}
.queue li:nth-child(2n) {
  background-color: rgba(200, 200, 200, 0.4);
}

/* Footbar */
.footbar {
  position: fixed;
  display: table;
  bottom: 0px;
  width: 100%;
  height: 43px;
  border-top: 1px solid #333;
  background: #222;
}
.footbar > div {
  display: table-cell;
  vertical-align: middle;
}
.play-control {
  width: 110px;
  color: white;
}
.play-control > div {
  display: inline-block;
  vertical-align: middle;
}
.backward {
  width: 30px;
  text-align: right;
}
.play-pause {
  width: 50px;
  text-align: center;
  font-size: 20px;
}
.forward {
  width: 30px;
  text-align: left;
}
.volume-control {
  width: 120px;
  padding: 0 20px;
}
.scrub-control {
  padding-right: 20px;
}
.footbar .dragdealer {
  height: 3px;
  border-radius: 2px;
  background: #555;
}
.footbar .dragdealer .handle {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  top: -5px;
  background: white;
}

/* Dragdealer defaults */
.dragdealer {
  position: relative;
}
.dragdealer .handle {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* Makeover */
.toolbar {
  background-color: #239fc4;
}
.settings {
  display: none;
}
.queue-header {
  background-color: #333;
}
.queue li.selected {
  background-color: white !important;
  color: #23afc4 !important;
}
.footbar {
  border-color: #595959;
  background-color: #2a2a2a;
}
